body{
    background-color:#DCDCDC;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid ;
    border-radius: 0.5;
    text-align: center;
}
form{
    background-color: white;
    border-radius: 7px;
    width: 30%;
    margin: auto;
    height: 400px;
    padding: 5px;
}
form input{
display: block;
width: 60%;
padding: 5px;
background-color:#DCDCDC ;
margin: auto ;
margin-bottom: 20px;
    border: none;
outline:none;
}
form i{
    margin-bottom: 2rem;
    font-size: 65px;
    border: 1px solid ;
    border-radius: 50%;
    padding: 15px;
    color: white;
    background-color:rgba(0, 0, 255, 0.827) ;
    margin-top: 20px;
}
form .submit{
        background-color:rgba(0, 0, 255, 0.827) ;
    color: white;
}
form .submit:hover{
    background-color:rgba(0, 0, 255, 0.57) ;
}
