

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
#sidebar{
    height: 100vh;
}
#sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

#sidebar a:hover {
    color: #0d6efd;
}

#sidebar h5,
#sidebar h6 {
    font-weight: 600;
}
.col-8{
    color: rgba(128, 128, 128, 0.585);
}
.col-4 i{
    color:gray;
    font-size: 35px ;
    margin-top: 2px;
}
.sidebar {
    width: 230px;
    transition: width 0.3s ease;
}
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
        padding: 1rem;
    }
    .sidebar-text {
        display: none;
    }
    .submenu {
        padding-left: 0;
    }

    .sidebar i {
        font-size: 1.3rem;
        margin-right: 0 !important;
    }

    .sidebar a {
        justify-content: center;
    }
}
