

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
#sidebar{
    height: 100vh;
}
#sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

#sidebar a:hover {
    color: #0d6efd;
}

#sidebar h5,
#sidebar h6 {
    font-weight: 600;
}
.col-8{
    color: rgba(128, 128, 128, 0.585);
}
.col-4 i{
    color:gray;
    font-size: 35px ;
    margin-top: 2px;
}
