#sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

#sidebar a:hover {
    color: #0d6efd;
}

#sidebar h5,
#sidebar h6 {
    font-weight: 600;
}
table th{
    background-color: black;
    color:aliceblue;
}
.my-box {
    padding: 20px;  
    width: 100%;
    overflow-x: outo;
}.my-table {
    width: 100%; 
 border-collapse: collapse;            
}

.my-table th, .my-table td {
    border: 1px solid #dee2e6;
     padding: 8px; 
}  

.my-table tr:nth-child(odd) {
     background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f2f2f2;}
.actions{
    text-align: center;
}
.actions a{
    display: block;
}
.actions a.delete i{
    color:red;
}
.actions a.edit i{
    color: rgb(46, 46, 196);
} 
.page-title {
    background-color: #5f35c9;
        
            padding: 10px;
            text-align: left;
            border-radius: 5px;
            margin-top: 20px;
            clear: both;
             width: 100%; margin-left: 20px;
        }
.page-title h2 {
color: white;
margin: 0;
font-size: 22px;
        }
.containar{
    width: 100%;
}