.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 50vh;
}
.dish{
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 50vh;
    background-image: url('admin/images/img/restrrr.png');
}
.hero {
    padding: 120px 0;
    position: relative;
}
.bg-image {
    background-image: url('admin/images/img/pimg.jpg');
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.featured-restaurants {
  padding: 100px 0 20px;
  position: relative;
}


/* feature resturant */

a{
    text-decoration: none;
    list-style: none;
}

@media (min-width: 280px) and (max-width: 580px) {
  .featured-restaurants {
    padding: 50px 0 20px;
    position: relative;
  }
  .featured-restaurants .title-block {
    margin-bottom: 15px;
  }
  .featured-restaurants .title-block h4 {
    font-size: 21px;
  }
}

@media (min-width: 280px) and (max-width: 580px) {
  .featured-restaurants:before {
    display: none;
  }
}

.featured-restaurants .restaurant-wrap {
  border: 1px solid #eaebeb;
  border-radius: 3px;
  padding: 15px;
  background: #fafaf8;
  float: left;
  width: 100%;
}
/* .single-restaurant{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */
.featured-restaurants .restaurant-logo {
  border-radius: 3px;
}

.featured-restaurants .restaurant-logo img {
  width: 95px;
  height: auto;
  border: 1px solid #eaebeb;
}

@media (min-width: 320px) and (max-width: 543px) {
  .restaurant-wrap {
    /* text-align:center */
  }
  .featured-restaurants .restaurant-logo img {
    width: 85px;
    margin-bottom: 15px;
  }
}

.featured-restaurants .restaurant-wrap h5 {
  margin-top: 5px;
  font-weight: 600;
}

.featured-restaurants .restaurant-wrap h5 a {
  color: #25282b;
}

.featured-restaurants .bottom-part {
  margin-top: 5px;
}

.featured-restaurants .cost,
.featured-restaurants .mins,
.featured-restaurants .ratings {
  font-size: 12px;
  display: inline-block;
}

.featured-restaurants .cost,
.featured-restaurants .mins {
  margin-right: 1rem;
}

.featured-restaurants .ratings span i {
  color: #5c4ac7;
}

.featured-restaurants .ratings .fa-star-o {
}

.restaurants-filter ul li {
  display: inline-block;
  padding: 0 0.5rem;
}

.featured-restaurants .restaurants-filter ul li a {
  font-weight: 400;
  color: #414551;
  font-size: 16px;
  text-transform: capitalize;
}

.featured-restaurants .restaurants-filter ul li a:hover {
  color: #e8500e;
}

@media (min-width: 320px) and (max-width: 480px) {
  .restaurants-filter {
    float: none;
  }
  .restaurants-filter ul li {
    padding: 0 0.5rem;
  }
}

.featured-restaurants .featured-restaurants h4 {
  margin-bottom: 45px;
}

.featured-restaurants .restaurant-listing {
  margin-bottom: 50px;
  margin-top: 25px;
}

.featured-restaurants .single-restaurant {
  margin-bottom: 30px;
}

.add-restaurants {
  background: #fafaf8;
  border: 1px solid #eaebeb;
  padding: 35px 10px 23px;
  border-radius: 2px;
}

.add-restaurants p strong {
  font-weight: 600;
  color: #5c4ac7;
}

@media (min-width: 320px) and (max-width: 543px) {
  .featured-restaurants .restaurant-wrap {
    margin-bottom: 10px;
  }
  .add-restaurants {
    text-align: center;
  }
  .add-restaurants a.btn.theme-btn {
    display: block;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .featured-restaurants .restaurant-wrap {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
.list li a{
  color: #000;
}
.list li.res{
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 50%;
  transition: 5s;
  cursor: pointer !important;
}
.list li.res:hover{
    background-color: red !important;
}

/* inner page hero */
