body {
    margin: 0;
    padding-top: 60px !important ; 
    margin: 0;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    width: 100%;
    
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
  }

.navbar-dark {
    background-image:url('admin/images/menu-bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 0;
}
.navbar-brand img {
    height: 30px; 
    width: auto;
    vertical-align: middle;
}
.navbar-nav .nav-link {
    color: white !important;
}


.page-background {
    
    background-image: url('admin/images/img/pimg.jpg'); 
    background-repeat: repeat-x;
    background-size: auto 100vh; 
    background-position: center left;
    filter: brightness(100%);
    min-height: 85vh;  
    width: 100%;
    z-index: 50; 
    
}

.login-modal-container {
    position: absolute; 
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    justify-content: center; 
    align-items: center; 
    z-index: 100; 
    
}

.login-modal {
    background-color: white;
    padding: 30px 35px;
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    position: fixed; 
    border-top: 5px solid #5c4ac7; 
}

.login-modal p {
    color: #5c4ac7;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    
}

.modal-form .form-group {
    margin-bottom: 20px;
}

.modal-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
    text-align: left;
}

.modal-submit-btn {
    background-color:  #5c4ac7;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.modal-submit-btn:hover {
    background-color: #5c4ac7;
}

.not-registered {
    
  background-color: #f2f2f2;
  padding: 10px 15px;
  margin: 20px -35px -30px -35px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 3px 3px;
}

.not-registered a {
    
  color: #333333;
  text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #5c4ac7;
}


footer.bg-dark {
    
    background-image: url('admin/aimages/menu-bg.jpg') !important; 
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
    background-position: center center !important; 
}